# update this file with the correct owners:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# example:
1) Ronith2005
2) kathan-205
3) snigdha-0902
4) NataliiaLysenko
5) fatin2343
6) cyriluoa
