# update this file with the correct owners:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

Ronith2005
kathan-205
snigdha-0902
NataliiaLysenko
fatin2343
cyriluoa
